/*
    COLORES: 
        Primary: #209CEE;
        Primary light: #8DCCF6;
        Primary dark: #0D6CAB;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(141, 204, 246, .8), rgba(32, 156, 238, 0.801)),  url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}