// Colores
$color-primario: #209CEE;
$color-primario-light: #8DCCF6;
$color-primario-dark: #0D6CAB;

$color-secondary-light: #F46C43;
$color-secondary-dark: #A62806;

$color-tertiary-light: #00B196;
$color-tertiary-dark: #006C55;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FUENTES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;