body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.header__heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2.8rem;

        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewX(15deg) skewY(2deg) scale(1.1);
    }
}